################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Apps.QuickBooksOnline/.vs
/Apps.QuickBooksOnline/bin/Debug/net6.0
/Apps.QuickBooksOnline/obj
/Apps.QuickBooksOnline/bin/Release/net6.0
/Apps.QuickBooksOnline/Properties/PublishProfiles
*.user
/Apps.QuickBooksOnline/bin/Debug/net7.0
